@import "_reset.scss";
//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

$color_darkGray:rgb(44, 50, 56);
$color_purpleBlue:rgba(26, 129, 253, 1);
$color_tiffanyBlue:rgb(76, 230, 254);
$color_skyBlue:rgba(26, 129, 253, 1);
$color_cardBg:rgba(89, 40, 220, 1);
$color_brown:rgb(195, 182, 149);
$font-Montserrat:'Montserrat',

sans-serif;


/*===
card one
===*/
.card-one-container {
    width: 100vw;
    height: 100vh;
    background-color: $color_darkGray;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contact-detail,
    .contact-submit {
        width: 40%;

        display: flex;
        align-items: center;
        font-family: $font-Montserrat;

        .content {
            padding: 30px;
            box-sizing: border-box;

            span {
                font-size: 12px;
                color: $color_purpleBlue;
            }

            h2 {
                font-size: 32px;
                line-height: 38px;
                color: white;
                padding: 25px 0;
            }

            p {
                font-size: 18px;
                color: white;
                line-height: 25px;
                padding-bottom: 27px;

                &:nth-of-type(1) {
                    font-size: 14px;
                }

                .fas {
                    padding-right: 20px;
                    color: $color_tiffanyBlue;
                }
            }

            label {
                font-size: 14px;
                padding-bottom: 10px;
                color: white;
            }


            .customer-request {
                display: flex;
                flex-direction: column;

                input {
                    &:focus {
                        outline: none;
                    }
                }

                input[type=text] {
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    width: 450px;
                }

                input[type=button] {
                    width: 150px;
                    background-color: $color_skyBlue;
                    border: none;
                    padding: 14px 0;
                    font-size: 13px;
                    border-radius: 30px;
                    color: white;
                }
            }





        }
    }
}

/*===
card two
===*/

.card-two-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: $font-Montserrat;
    flex-wrap: wrap;

    .item {
        width: 350px;
        background-color: $color_cardBg;
        padding: 90px 10px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        text-align: center;
        color: white;

        .box {
            background-color: $color_skyBlue;
            width: 60%;
            position: absolute;
            transform: rotate(45deg);
            top: 10px;
            right: -90px;
            font-size: 13px;
            line-height: 23px;
            letter-spacing: 1px;
            color: white;

        }

        .fas {

            font-size: 45px;
            padding-bottom: 20px;
        }

        h2 {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 3px;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        .price {

            position: relative;
            padding-bottom: 20px;

            .price-value {
                font-size: 48px;
            }

            .price-prefix,
            .price-suffix {
                font-size: 14px;
            }

            .price-prefix {
                position: absolute;
                top: 0;
                left: 25%;

            }
        }

        .description {
            padding-bottom: 50px;

            p {
                font-size: 14px;
                line-height: 25px;
                padding: 0 30px;

            }
        }

        a {
            text-decoration: none;
            border: 1px solid white;
            padding: 19px 40px;
            border-radius: 40px;
            text-transform: uppercase;
            color: white;

            &:hover {
                background-color: white;
                color: $color_cardBg;
            }
        }
    }
}

/*===
card three
===*/
.card-three-container {
    font-family: $font-Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;

        .item-box {
            width: 30%;

            text-align: left;
            padding: 35px;
            box-sizing: border-box;
            color: white;

            .fas {
                font-size: 50px;
                padding-bottom: 30px;

            }

            &:nth-child(1) {
                background-color: rgba(18, 123, 251, 0.8);
            }

            &:nth-child(2) {
                background-color: rgba(18, 123, 251, 0.9);
            }

            &:nth-child(3) {
                background-color: rgba(18, 123, 251, 1);
            }

            h2 {
                font-size: 18px;
                padding-bottom: 30px;
                letter-spacing: 3.8px;
            }

            p {
                font-size: 14px;
                line-height: 25px;
                padding-bottom: 20px;
            }
        }
    }

}

/*===
card fifteen
===*/
.card-fifteen-container {
    font-family: $font-Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
background-color: $color_darkGray;
    .testimony {
        width: 50%;


        .message-box {
            background-color: $color_brown;
            padding: 30px;
            color: white;
            font-weight: 300;
            font-style: italic;
            font-size: 20px;
            position: relative;
            margin-bottom: 40px;

            &:after {
                position: absolute;
                content: ' ';
                width: 0;
                height: 0;
                border-width: 20px;
                border-style: solid;
                border-color: transparent $color_brown transparent transparent;
                transform: rotate(45deg);
                top: 85%;
                left: 5%;
            }
        }

        .people {

            
            display: flex;
            padding-left: 14px;

            .customer-img {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: auto;
                    height: 100%;
                    margin-left: -18%;
                }

            }
            .customer{
                
                display:flex;
                
                justify-content: center;
                flex-direction: column;
                padding: 20px;
                font-size: 13px;
                line-height: 20px;
                color: $color_brown;
                
            }

        }
    }
}