td:hover {
    cursor: pointer;
}

html body .card#event .card-body .events-input .data-invalid {
    border-color: red
}

html body .card#event .card-body .events-input .error {
    font-size: 12px;
    color: red;
    position: absolute;
    top: 100%
}